body {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-family: "Lato", sans-serif;
}

* {
  box-sizing: border-box;
}

.navbar {
  background-color: #293f50;
  padding-bottom: 10px;
  width: 100%;
}

.leftbar {
  margin: 0;
  padding: 0;
  font-size: 3em;
  font-weight: 100;
  color: white;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
  padding-left: 10px;
}

nav p {
  color: #648880;
  font-weight: 400;
}

.rightbar {
  text-align: center;
}

.header {
  text-align: center;
  background-image: linear-gradient(to right, #a1d3b0, #f6f1d3);
  padding-top: 1em;
  display: block;
  margin: auto;
  width: 100%;
  padding-bottom: 2em;
}

main {
  display: block;
  margin: auto;
  max-width: 960px;
}

.wrapper {
  width: 100%;
}

.container {
  display: block;
  margin-left: 10px;
  width: 100%;
}

p .container {
  display: block;
  margin: auto;
}

label {
  display: block;
  margin: auto;
  padding-bottom: 10px;
}

input {
  padding: 10px 5px;
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 95%;
}

.comment {
  height: 70px;
}

button {
  display: block;
  padding: 10px 20px;
  background-color: #293f50;
  color: white;
  border-radius: 7px;
  margin:3px;
}

.last {
  display: inline-block;
  width: 100%;
  text-align: center;
  background-color: #293f50;
  font-size: 10px;
  line-height: 50px;
  font-weight: 400;
}

footer a {
  text-decoration: none;
  padding-left: 20px;
  color: white;
}

.bottom {
  display: inline-block;
  padding-left: 10px;
  color: #648880;
}

.brightnav {  
  display: inline-block;
}

@media only screen and (min-width: 600px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 200px;
  }

  .container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  .wrapper {
    max-width: 960px;
    display: block;
    margin: auto;
  }

  .text {
    margin-left: 50px;
    margin-top: 20px;
  }

  .container1 {
    width: 50%;
  }

  .text {
    width: 50%;
  }

  .last {
    display: flex;
    justify-content: space-between;
    padding:  10px 200px;
  }

  .brightnav {
    margin-top: 15px;
  }
  
  
}